<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwapScreens.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1212E3661DF86BA000BAB91E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1212E37A1DF86BA000BAB91E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1212E3851DF86BA000BAB91E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
